<nav class="navbar navbar-expand-sm bg-light navbar-dark">
<ul class="navbar navbar-nav">
  <li class="nav-item">
    <button [ngClass]="state.currentAction.type == ProductsActionTypes.GET_ALL_PRODUCTS_SUCCESS ? 'btn-danger' : 'btn-outline-info'" class="btn btn-sm" (click)="onGetAllProducts()">All</button>
  </li>
  <li>
    <button [ngClass]="state.currentAction.type == ProductsActionTypes.GET_SELECTED_PRODUCTS_SUCCESS ? 'btn-danger' : 'btn-outline-info'"  class="btn  m-lg-2 btn-sm" (click)="onGetSelectedProducts()">Selected</button>
  </li>
  <li>
    <button class="btn btn-outline-info m-lg-2 btn-sm" (click)="onNewProduct()">New</button>
  </li>
</ul>
  <ul class="navbar-nav m-lg-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-check-inline">
        <input type="text" ngModel name="keyword">
        <button [ngClass]="state.currentAction.type == ProductsActionTypes.SEARCH_PRODUCTS_SUCCESS ? 'btn-danger' : 'btn-outline-info'" class="btn btn-sm" type="submit" >
          <i class="fa fa-search"></i>
          Search
        </button>
      </form>
    </li>
  </ul>
</nav>
